*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
}
header nav{
    display: flex;
    gap: 20px;
    align-items: right;
    flex-direction: row-reverse;
    flex-wrap: wrap;

}
h1  {
    padding: 20px;
    
}  
.line{
    padding: 2000px;
}
.img1{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.img2{
     display: flex;
    gap: 20px; 
    padding: 20px;

}
.img3{
     display: flex;
    gap: 20px;
     padding: 20px;
}


header nav a{
    text-decoration: none;
    color: black;

    
}
h1{
    font-size: 20PX;
}


    header h1{
        font-size: 20px;
    }
    nav a{
        font-size: 16px;
        margin: 0 10px;
    }
    main h2{
        font-size: 20px;
    }
    main p{
        font-size: 14px;
    }
    .footer {
        justify-items: center;
        padding: 20px;
    }

    
@media (max-width: 70px) {
      header nav a{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    
        
    }
}
/* End of CSS file */
